<header>
  <div class="container">
    <div class="header-content">
      <a routerLink="/" class="logo">codingFashion</a>
      <nav>
        <ul>
          <li *ngIf="!isAuth">
            <a routerLink="/login">Log In</a>
          </li>
          <li *ngIf="isAuth" class="menu-container">
            <a routerLink="/dashboard">{{ user.name }}</a>
            <div class="menu">
              <a routerLink="/profile">Profile</a>
              <a routerLink="/orders">Orders</a>
              <a (click)="logout()">Log Out</a>
            </div>
          </li>
          <li>
            <a routerLink="/cart-page">
              Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
