  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
}

html{
  font-size: 13px;
}

html,
button{
  font-family: "fira code", sans-serif;
}
